body {
  background-color:darkgray;
  font-family:Arial, Helvetica, sans-serif
}

.bio {
  display: flex;
  flex-wrap: wrap;
}

.greeting, .intro, .background, .skills, .contact {
  height: auto;
  width: 800px;
  box-sizing: border-box;
  margin: 10px auto;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}

.sidebar {
  float: right;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 2px;
  height: 155px;
  width: 300px;
  background-color:bisque;
}

.greeting {
  font-size: 35px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: cornsilk;
}

.background {
  background-color:peachpuff;
}

.intro {
  background-color: blanchedalmond;
}

.skills {
  background-color:antiquewhite;
}

.contact {
  background-color: beige;
  text-align: center;
}

img {
  height: 270px;
  width: 270px;
  border-radius: 150px;
  border: 2px solid black;
  float: left;
  margin: 10px;
}

.background img {
  float: right;
}

.greeting img {
  justify-self: center;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 25px;
}
h1, h2 {
  text-align: center;
}

.cool {
  font-family: cursive;
}

button {
  background-color: whitesmoke;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
}

a {
  color:darkgray;
}
