img {
  height: 270px;
  width: 270px;
  border-radius: 150px;
}

.background img {
  float: right;
}

.skills img {
  float: left;
}

div {
  height: 600px;
  width: 800px;
  box-sizing: border-box;
  margin: auto;
  border: 5px solid black;
  padding: 20px;
}

h1, h2 {
  text-align: center;
}
